#root {  
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

/* layout stiles*/
.layout___content{ 
  margin: 20px 20px;
}

.button-div{
  display: flex;
  gap: 5px;
}

.button-edit{
  background:#ffc019;  
}

.button-excel{
  background: #099217;
}

.spin {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 60px 100px;
  text-align: center;
  background: #242424;
  border-radius: 4px;
}

.div-searcher{
  display: flex;    
}

.div-searcher .searcher-input{
  width: 50%;
}

.div-searcher .searcher-dropdown{
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;    
}

.div-searcher .button-add{  
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}
















